<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">	
	<title>Linda Xie's Website</title>
	 <script src = "js/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	 <script src="js/bootstrap.min.js"></script>
	 <script src="js/script.js"></script>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	
		<h class="nav-items">
			<a class="navbar-brand" href="#home">lindaxie</a>
		</h>

		<div class="collapse navbar-collapse navbar-1-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/resume.pdf">resume</a>
				</li>
				<li class="nav-items">
					<a href="#about">about</a>
				</li>
				<li class="nav-items">
					<a href="#">contact</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">social networks <b class="caret"></b></a>

					<ul class="dropdown-menu">
						<li><a target="blank" href="https://github.com/lindaxie">GitHub</a></li>
						<li><a target = "blank" href="https://www.facebook.com/linda.xie1">Facebook</a></li>
						<li><a target = "blank" href="http://instagram.com/linda_xie93">Instagram</a></li>
						<li><a target="blank" href="http://www.linkedin.com/in/lindaxie1">LinkedIn</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span12" id="content">
			<section class="active" id="home">
				<div id="my_carousel" class="carousel slide">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
						<li data-target="#my_carousel" data-slide-to="1"></li>
						<li data-target="#my_carousel" data-slide-next="2"></li>
						<li data-target="#my_carousel" data-slide-next="3"></li>
						<li data-target="#my_carousel" data-slide-next="4"></li>
						<li data-target="#my_carousel" data-slide-next="5"></li>
						<li data-target="#my_carousel" data-slide-next="6"></li>
						<li data-target="#my_carousel" data-slide-next="7"></li>		
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="img/ava_velopitch.jpg">
							<div class="carousel-caption" align="middle">
								Pitching AVA at Velocity Pitch Night.
							</div>
						</div>

						<div  class="item">
							<img src="img/wonderland_2012.jpg" align="middle">
							<div class="carousel-caption">
								Double degree Wonderland day - hands down one of my favourite days of the year. 
							</div>
						</div>

						<div class="item">
							<img src="img/fashion_show.jpg" align="middle" >
							<div class="carousel-caption">
								Rocking out backstage at the Alice in Wonderland fashion show.
							</div>
						</div>
						<div class="item">
							<img src="img/deca_queens.jpg" align="middle" >
							<div class="carousel-caption">
								Racking up the medals at DECA Queens. Way to go Golden Hawks!
							</div>
						</div>
						<div class="item">
							<img src="img/velogarage.jpg" align="middle" >
							<div class="carousel-caption">
								This right here, is what I call a workspace. 
							</div>
						</div>
						<div class="item">
							<img src="img/hawka.jpg" align="middle" >
							<div class="carousel-caption">
								In my opinion, all serious business situtions need a little spirit & spunk. 
							</div>
						</div>
						<div class="item">
							<img src="img/ava_vvfpitch.jpg" align="middle" >
							<div class="carousel-caption">
								Pitching AVA at Velocity Venture Fund & loving the stage :) 
							</div>
						</div>
						<div class="item">
							<img src="img/fb_hack.jpg" align="middle" >
							<div class="carousel-caption">
								Post all-nighter at FB Hackathon, borderline passing out, but still going! 
							</div>
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#my_carousel" data-slide="prev">
						<span class="icon-prev"></span>
					</a>
					<a class="right carousel-control" href="#my_carousel" data-slide="next">
						<span class="icon-next"></span>
					</a>
				</div>
			</section>

			<section id="about">
				<div class="container marketing">

						<div class="featurette">
								<img class="featurette-image img-circle pull-right" src="img/cliff.jpg">
								<h2 class="featurette-heading">Personal Philosophy. <span class="text-muted">Live it up.</span></h2>
								<p class="lead">In simple terms, we have one shot at this thing called life so I like to make the most out of everyday! Take risks, never regret, and live it up - that's how I roll. Sure keeps things interesting. </p>
						 </div>
						 <hr class="featurette-divider">
						  <div class="featurette">
							<img class="featurette-image img-circle pull-left" src="img/great-hall.jpg">
							<h2 class="featurette-heading">School & work. <span class="text-muted">Love what you do.</span></h2>
							<p class="lead">I'm a student at the Univerisity of Waterloo and Wilfrid Laurier University for the Computer Science and BBA Double Degree program. So far, I loved it! On academic terms, I stay at Velocity (UW's incubator residence) and will often work on/for a startup. I've worked on 2 start-ups and did work for several small companies. When I'm not at school, I am on co-op. On my last co-op term, I worked as a Trading Associate for the Interest Rate Trading Desk at TD Securities - very cool experience. I will be going on co-op again winter '14 and am excited for whatever comes my way!</p>
						  </div>
						  <hr class="featurette-divider">
						  <div class="featurette">
							<img class="featurette-image img-circle pull-right" src="img/nf-square.jpg">
							<h2 class="featurette-heading">Hobbies. <span class="text-muted">Life-time favourites.</span></h2>
							<p class="lead">One of my favourite activities is meeting interesting people. Why? Because interesting people will become the most awesome friends and help you grow as a person along the way. On the rare occassions I have free time, I like to catch up with old friends, do something active, code up something cool, and if there's an ice rink in the area, go skating.</p>
						  </div>
						  <hr class="featurette-divider">
					</div>
						
			</section>
		</div>
	</div>
</body>
</html>

