<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">	
	<title>Linda Xie</title>
	 <meta name="viewport" content="width=device-width, initial-scale=0.6"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<style type="text/css">
		@import url(css/styles.css);
		@import url(css/med-styles.css) (max-width: 990px);
		@import url(css/small-styles.css) (max-width: 580px) and (min-width: 320px);
	</style>

</head>
<body>
			<section id="contact">
					<div id="contact-row" class="row">

						<div class="col-xs-4 col-sm-2 col-md-3">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target="_blank" href="http://www.linkedin.com/in/lindaxie1"><i class="icon-linkedin"></i></a>
							</span>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-3">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target = "_blank" href="https://www.facebook.com/lindeexie">
											<i class="icon-facebook"></i>
										</a>
							</span>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-3">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target = "_blank" href="http://instagram.com/lindeexie">
											<i class="icon-instagram"></i>
										</a>
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<i class="icon-envelope"></i>
							</span>
							lindawxie@gmail.com    
						</div>
						
					</div>

			
			</section>
		</div>
	</div>
	 <script src = "js/jquery-1.10.2.min.js"></script>
	 <script src ="js/jquery.scrollTo-1.4.3.1-min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	 <script src="js/linda-script.js"></script>
</body>
</html>

