<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">	
	<title>Linda Xie</title>
	 <meta name="viewport" content="width=device-width, initial-scale=0.6"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<style type="text/css">
		@import url(css/styles.css);
		@import url(css/med-styles.css) (max-width: 990px);
		@import url(css/small-styles.css) (max-width: 580px) and (min-width: 320px);
	</style>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class = "nav-items">
				<a class="nav-items navbar-brand" href="#home">lindaxie</a>
			</div>
		</div>

		<div class="collapse navbar-collapse navbar-1-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-items">
					<a href="#about">about</a>
				</li>
				<li>
					<a target="_blank" href="/resume.pdf">resume</a>
				</li>
				<li>
					<a target="_blank" href="https://github.com/lindaxie">github</a>
				</li>
				</li>
				<li class="nav-items">
					<a href="#contact">contact</a>
				</li>
				
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="span12" id="content">
			<section class="active" id="home">
				<div id="my_carousel" class="carousel slide">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div  class="item active">
							<img src="img/peaks.jpg" align="middle">
							<div class="carousel-caption">	
							</div>
						</div>

						<div class="item">
							<img src="img/yosemite_trail.jpg" align="middle" >
							<div class="carousel-caption">
							</div>
						</div>

						<div class="item">
							<img src="img/ava_vvfpitch.jpg" align="middle" >
							<div class="carousel-caption">
								
							</div>
						</div>

						<div class="item">
							<img src="img/yosemite_falls2.jpg" align="middle" >
							<div class="carousel-caption">
							
							</div>
						</div>
						

						
						<div class="item">
							<img src="img/fashion_show.jpg" align="middle" >
							<div class="carousel-caption">
							
							</div>
						</div>

						<div class="item">
							<img src="img/makerspace_interview.jpg" align="middle" >
							<div class="carousel-caption">
								
							</div>
						</div>

						<div class="item">
							<img src="img/yosemite_falls.jpg" align="middle" >
							<div class="carousel-caption">
								
							</div>
						</div>

						
						

						
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#my_carousel" data-slide="prev">
						<span class="icon-prev"></span>
					</a>
					<a class="right carousel-control" href="#my_carousel" data-slide="next">
						<span class="icon-next"></span>
					</a>
				</div>
			</section>

			<section id="about">
				<div class="container marketing">

						<div class="featurette">
								<img class="featurette-image img-circle pull-right" src="img/cliff.jpg">
								<h2 class="featurette-heading">Personal Philosophy. <span class="text-muted">Live it up.</span></h2>
								<p class="lead">In simple terms, we have one shot at this thing called life so I like to make the most out of everyday! Take risks, never regret, and live it up - that's how I roll. Sure keeps things interesting. </p>
						 </div>
						 <hr class="featurette-divider">
						  <div class="featurette">
							<img class="featurette-image img-circle pull-left" src="img/great-hall.jpg">
							<h2 class="featurette-heading">School & work. <span class="text-muted">Do what you love.</span></h2>
							<p class="lead">I'm a <a target = "_blank" href="https://cs.uwaterloo.ca/">Computer Science</a> student at the Univerisity of Waterloo. On academic terms, I'm with the <a target = "_blank" href="http://velocity.uwaterloo.ca/">Velocity</a> program and will usually work on/for a startup. When I'm not at school, I'm working. In the past two years, I have worked at TD Securities and Facebook. At <a target = "_blank" href="http://www.tdsecurities.com/ ">TD Securities</a>, I worked as a Trading Associate for the Interest Rate Trading Desk - very cool experience. During my last work term, I worked at <a target = "_blank" href="https://www.facebook.com/">Facebook</a> as a Data Engineering and absolutely loved it. I will be going on an internship again this fall and am very excited for what comes my way!</p>
						  </div>
						  <hr class="featurette-divider">
						  <div class="featurette">
							<img class="featurette-image img-circle pull-right" src="img/nf-square.jpg">
							<h2 class="featurette-heading">Hobbies. <span class="text-muted">Life-time favourites.</span></h2>
							<p class="lead">One of my favourite activities is meeting interesting people. Why? Because interesting people will become the most awesome friends and help you grow as a person along the way. On the rare occassions I have free time, I like to catch up with old friends, do something active, hack up something cool, and if there's an ice rink in the area, go skating.</p>
						  </div>
						  <hr class="featurette-divider">
					</div>				
			</section>
			<section id="contact">
				<div class="well well-large well-transparent lead">
					<div id="contact-row" class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<i class="icon-envelope"></i>
							</span>
							lindaxie93@gmail.com    
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<i class="icon-skype"></i>
							</span>
							linda.xie93
						</div>

						<div class="col-xs-4 col-sm-2 col-md-2">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target="_blank" href="http://www.linkedin.com/in/lindaxie1"><i class="icon-linkedin"></i></a>
							</span>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-2">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target = "_blank" href="https://www.facebook.com/linda.xie1">
											<i class="icon-facebook"></i>
										</a>
							</span>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-1">
							<span class = "icon-stack">
								<i class="icon-check-empty icon-stack-base"></i>
										<a target = "_blank" href="http://instagram.com/lindeexie">
											<i class="icon-instagram"></i>
										</a>
							</span>
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>
	 <script src = "js/jquery-1.10.2.min.js"></script>
	 <script src ="js/jquery.scrollTo-1.4.3.1-min.js"></script>
	 <script src="js/bootstrap.min.js"></script>
	 <script src="js/linda-script.js"></script>
</body>
</html>

